<a href="https://weiming.ddns.net/candy_jar">
  <span class="icon icon--candy_jar">{% include icon-candyjar.svg %}</span>
  <span class="label">Candy Jar</span>
  <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Candy jar">Candy jar</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
</a>
